.student-info {
    @include center;
    @include font-heavy(20px);
    color: $font-grey;
    overflow: hidden;

    > div {
        display: grid;
        width: 100%;
        margin: 20px 40px;
        grid-template-rows: 0px 160px 40px minmax(40px, 1fr) 55px;
    }

    &__play {
        display: flex;
        justify-content: center;
        width: 100%;
        grid-row: 1 / 2;
    }

    &__avatar {
        grid-row: 2 / 3;
        @include center;

        img {
            @include circle(150px);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
        }
    }

    &__name {
        grid-row: 3 / 4;
        color: $font-black;
        @include center;
        @include font-light(23px);
    }

    &__bio {
        grid-row: 4 / 5;
        color: $font-grey;
        word-wrap: break-word;
        text-align: center;
        @include font-light(23px);
    }

    &__birthday {
        grid-row: 5 / 6;
        @include center;
        @include font-light(20px);
        color: #5d7c8c;
        border: #c2cfd6 2px solid;
        border-radius: 20px;
        place-self: center;
        width: fit-content;
        margin: 5px auto auto;
        padding: 4px;
    }

    &__related {
        margin-top: 20px;
        overflow: hidden;

        &-title {
            @include center;
            background-color: #DAEDFC;
            border-left: 2px solid $chatborder-color;
            border-right: 2px solid $chatborder-color;
            border-top: 2px solid $chatborder-color;
            border-radius: 6px 6px 0 0;
            color: #5787B0;
            padding: 3px 10px;
            width: 100%;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 2px solid $chatborder-color;
            border-left: 2px solid $chatborder-color;
            border-right: 2px solid $chatborder-color;
            border-radius: 0 0 6px 6px;
            padding: 0 5px;
        
            .student-info__related-avatar {
                @include center;
                margin: 5px 7px;
                img {
                    @include circle(100px);
                    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}