.student {
    display: grid;
    grid-template-columns: 75px 15px 1fr;

    padding: 0 50px 0 25px;

    .avatar {
        grid-area: 1 / 1 / 3 / 2;

        img {
            margin-top: 5px;
            @include circle(75px);
        }
    }

    .name {
        grid-area: 1 / 3 / 2 / 3;
        @include font-regular(20px);
        color: $font-black;
        user-select: none;
    }

    .container {
        grid-area: 2 / 3 / 2 / 3;
        display: flex;
        .box {
            background: $grey;
        }
    }

    &.first {
        grid-template-rows: 35px 1fr;
        margin-top: 10px;
        .box:not(.img):before {
            border-color: transparent $grey transparent transparent;
            border-style: solid;
            border-width: 6px;
            content: '';
            position: absolute;
            left: -10px;
            top: 10px;
        }
    }
    .del {
        grid-area: 2 / 3 / 2 / 3;
    }
}

.sensei {
    padding: 0 25px 0 50px;

    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

    &.first {
        margin-top: 10px;
        .box:not(.img):before {
            border-color: transparent transparent transparent #4a8ac6;
            border-style: solid;
            border-width: 6px;
            content: '';
            position: absolute;
            right: -10px;
            top: 10px;
        }
    }
    .box {
        background: #4a8ac6;
    }
}

.choice {
    margin: 5px 25px 5px 45px;

    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

    .box-choice {
        grid-area: 1 / 2 / 2 / 3;
        position: relative;
        width: 100%;
        margin: 5px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        border: 1px solid $chatborder-color;
        background: #f3f7f8;

        .header {
            border-bottom: 1px solid $font-grey;
            margin: 10px 20px;

            .title {
                @include font-regular(20px);
                border-left: 4px $blue solid;
                display: inline;
                padding: 0 8px;
            }
        }

        .content {
            @include center;
            flex-direction: column;

            span {
                background-color: white;
                border: none;
                color: $font-black;
                margin-bottom: 10px;
                padding: 5px;
                width: 90%;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                border-radius: 10px;
                @include font-regular(20px);
            }
        }
    }
}

.story {
    @extend .choice;

    .box-story {
        @extend .box-choice;
        border: 1px solid $chatborder-color;
        background: url('/story.png') no-repeat right top, #ffedf1;
        background-size: 140px;

        .header .title {
            border-left: 4px $pink solid;
        }

        .content span {
            background-color: $pink;
            color: white;
        }
    }
}

.message {
    .container {
        width: 100%;
        @include center;
    }

    div {
        width: 100%;
        height: fit-content;
    }
    .box-message {
        margin: 5px 10px 5px 50px;
        display: flex;
        flex-direction: column;
        background-color: $list-active-color;
        border-radius: 10px;

        .content {
            @include center;
            @include font-regular(20px);
            color: $font-black;
        }
    }
}

.chat-img {
    height: 200px;
    width: auto;
}

.box {
    position: relative;
    padding: 5px 10px;
    color: #ecf2fb;
    @include font-regular(20px);
    border-radius: 8px;
    margin-bottom: 5px;
    @include center;
    &.img {
        background-color: white !important;
        border: 2px solid $chatborder-color;
        &::after {
            border-right: 10px solid transparent !important;
            border-left: 10px solid transparent !important;
        }
    }
}

.del {
    padding: 10px;
    color: #000;
    font-size: 20px;
    line-height: 20px;
    user-select: none;
    cursor: pointer;
    transition: opacity 0.2s;
    opacity: 0;
}

.box:hover + .del,
.box-choice:hover + .del,
.box-story:hover + .del,
.box-message:hover + .del,
.del:hover {
    opacity: 1;
}
