@mixin setColor($color) {
    fill: currentColor;
    color: $color;
}

.icon {
    &.momo {
        height: 25px;
        padding-left: 20px;
    }
    &.reset {
        height: 30px;
        @include setColor(#fff);
    }
    &.close,
    &.download,
    &.info,
    &.message,
    &.list {
        height: 35px;
    }
    &.profile,
    &.heart {
        height: 30px;
        @include setColor(#fff);
        width: 75%;
        height: 75%;
        cursor: pointer;
    }
    &.bell,
    &.choice {
        height: 30px;
        @include setColor(#fff);
        width: 70%;
        height: 70%;
        cursor: pointer;
    }
    &.image,
    &.send {
        @include setColor(rgb(189, 189, 189));
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    &.search-group__icon {
        height: 30px;
        @include setColor(#9e9ea7);
        margin: 10px;
    }
    &.list-item__avatar--multi {
        position: relative;
        width: 25px;
        height: 25px;
        left: 55px;
        bottom: 80px;
        border-radius: 50%;
        @include setColor(white);
        background: $grey;
    }

    &:active {
        transform: scale(0.9);
    }
}

img:active {
    transform: scale(0.95);
}
