@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900');
@import './base.css';

@font-face {
    font-family: 'Blueaka';
    src: url('../fonts/Blueaka.woff2');
}

#app {
    width: var(--view-width);
    height: var(--view-height);
    margin: 0 auto;
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

body {
    background-image: url($background);
    backdrop-filter: blur(5px) brightness(60%);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

img {
    -webkit-user-drag: none;
}

@media screen and (max-width: 1150px) {
    #app {
        width: 100vw;
    }
    body {
        display: block;
    }
}
