@keyframes box-appear {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

#root {
    display: grid;
    grid: {
        template-columns: $sider-width repeat(2, 1fr);
        template-rows: $header-height calc(var(--view-height) - $header-height);
        column-gap: 0px;
        row-gap: 0px;
    }
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(45, 35, 66, 0.2) 0 3px 6px;

    animation-name: box-appear;
    animation-duration: 0.6s;
    animation-timing-function: ease;
}

#header {
    grid-area: 1 / 1 / 2 / 6;
    background-color: var(--theme_title_color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__left {
        @include center;
        padding: 9px;
        .router-link-active {
            background-color: var(--theme_title_color);
        }
    }

    &__right {
        @include center;
        padding: 25px;
    }

    &__title {
        color: white;
        padding: 10px;
        user-select: none;
        @include font-heavy(32px);
        font-family: 'Nunito', sans-serif;
    }
}

.help {
    @include center;
    background-color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 28px;
    width: 28px;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px;
    color: var(--theme_title_color);
    user-select: none;
    @include font-light(24px);
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
    grid-area: 2 / 1 / 6 / 2;
    background-color: $grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__up > a,
    &__down > div {
        @include center;
        width: $sider-width;
        height: $sider-width;
        opacity: 0.5;
        &:hover {
            opacity: 1 !important;
            background-color: $grey-active;
            transition: 0.4s;
        }
    }
}

.router-link-active {
    opacity: 1 !important;
    background-color: $grey-active;
    transition: 0.4s;
}

#listcard {
    grid-area: 2 / 2 / 3 / 3;
    background-color: $list-color;
    &__header {
        @include center;
        border-bottom: 2px solid $list-active-color;
    }
}

.search-group {
    font-size: 25px;
    height: 40px;
    color: #9e9ea7;
    margin: 10px 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-color: white;
    @include center;

    &__text {
        width: 100%;
        margin: 0;
        border: transparent;
        @include font-light(18px);
        font-family: sans-serif;
        &::placeholder {
            color: #9e9ea7;
        }
        &:focus {
            outline: none;
        }
    }
}

.student-list__button {
    @include center;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px;
    margin: 15px 20px;
    width: 20%;
    height: 40px;
    @include font-regular(15px);
    cursor: pointer;
    transform: skew(-15deg);
    overflow: hidden;
}

#listbody {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(var(--view-height) - $header-height - $listheader-height);
    @include hide-scrollbar;
}

.active {
    background-color: $list-active-color;
    transition: 0.4s;
}

.list-item {
    display: grid;
    border: 1px $list-active-color solid;
    grid: {
        template-columns: 75px 15px 1fr 15px 75px;
        template-rows: 35px 35px 1fr;
        column-gap: 0px;
        row-gap: 0px;
    }
    width: 100%;
    padding: 15px 25px;
    &:hover {
        @extend .active;
    }

    &__avatar {
        grid-area: 1 / 1 / 3 / 2;
        cursor: pointer;
        .add{
            @include circle(25px);
            position: relative;
            left: 55px;
            bottom: 80px;
            background-color: $grey;
            border: 2px solid transparent;
            &::before {
                width: 80%;
                height: 4px;
            }
            &::after {
                width: 4px;
                height: 80%;
                transition: transform 200ms ease 0s;
            }
            &::before, &::after{
                display: block;
                content: "";
                position: absolute;
                inset: 0px;
                margin: auto;
                background-color: white;
            }
        }
        .minus{
            @extend .add;
            &::after {
                width: 4px;
                height: 80%;
                transition: transform 200ms ease 0s;
                transform: rotateZ(90deg);
            }
        }
    }
    &__name {
        grid-area: 1 / 3 / 2 / 4;
        @include font-heavy(25px);
        color: $font-black;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        user-select: none;
    }
    &__bio {
        grid-area: 2 / 3 / 3 / 4;
        @include font-heavy(20px);
        color: $font-grey;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        user-select: none;
    }
    &__mark {
        grid-area: 1 / 5 / 3 / 6;
        img {
            -webkit-filter: brightness(15%);
            filter: brightness(15%);
            scale: 0.8;
        }
    }
    &__avatars {
        grid-area: 3 / 1 / 4 / 6;
        display: flex;
        flex-wrap: wrap;
        padding-top: 16px;
        img{
            margin-right: 16px;
        }
    }
}

img {
    @include circle(75px);
    cursor: pointer;
}

#chatcard {
    grid-area: 2 / 3 / 3 / 4;
    background-color: var(--theme_bg_color);
}
